body {  
    font-family: Arial, sans-serif;  
    background-color: #f0e7e7;  
    margin: 0;  
    padding: 20px;  
}  

.container {  
    max-width: 600px;  
    margin: auto;  
    padding: 20px;  
    background: rgb(163, 247, 129);  
    border-radius: 8px;  
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);  
}  

h1 {  
    text-align: center;  
    color: #333;  
}  

.names-list {  
    list-style-type: none;  
    padding: 0;  
}  

.names-list li {  
    padding: 10px;  
    border-bottom: 1px solid #ddd;  
}  

.names-list li:last-child {  
    border-bottom: none; /* Remove border from last item */  
}  

.names-list li:hover {  
    background-color: #f1f1f1; /* Highlight on hover */  
    cursor: pointer; /* Change cursor to pointer */  
}  


.TITLE-t {
    font-family: ui-rounded;
    background: border-box;
    color: rgba(23, 24, 24, 0.815);
    font-weight: bold;
    
}
.imge{   width: 200px;margin-left:90px;  border-radius: 50px;border-width:1px;border-color: rgb(65, 178, 243);
   border-style:groove;   background-color:rgba(0, 0, 0, 0.1);}
.register{color: rgb(167, 218, 248);
    border-radius: 30px;
       background-color: blueviolet;font-size: small; padding-top: 0.05cm;
      box-shadow: black;padding-bottom: 0.05cm;
     cursor: pointer; padding-left:1cm; padding-right:1cm; margin-left: 40px;      
}
.BODY{color: rgb(19, 19, 18);
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}
.cancel{color: #64f3f3;background-color: #dd1313e3;border: 33;
border-radius: 7px;font-size: small;cursor:pointer;
margin-left: 34px;height: 20px;transition:ease-in-out;
}    
.search{margin-bottom: 0px;
margin-top: 10px;
}
.img{ box-shadow:#141414;border-style:solid;border-width:1.2px;
    width: 150px;grid-template-columns:auto;border-color: #0f0f0f;
border-radius:3px;margin-left:.4cm;margin-top: 1cm;
box-shadow:0px,7px,7px,rgba(0, 0, 0, 0.1);}


.spinner {  
    width: 100px;  
    height: 100px;  
    border: 16px solid #171714; /* Light gray */  
    border-top: 16px solid #fd450c; /* Blue */  
    border-radius: 50%;
    animation: spin 2s linear infinite;  
}  

@keyframes spin {  
    0% { transform: rotate(0deg); }  
    100% { transform: rotate(360deg); }  
}  


